body{

    font-family: Arial, sans-serif;
    background-color: #fffcfc;
    margin: 0;
    padding: 20px;
}

table{
    width: 100%;
    max-width: 600px;
    background-color: lightblue;
    flex-direction: column;
    justify-content: center;
    border-spacing: 7px;
    padding: 7px;
    border: 1px solid #ccc;
}
td{
    padding: 5px;
}

td input,textarea{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
td input[type="submit"]{
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
td input[type="submit"]:hover{
    background-color: #45a049;
}
